* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: none;
  }

body{
    background-color: darkslategrey;
}

.slider{
    display: flex;
    position: relative;
    max-width: 1300px;
    height: auto;
    margin: 50px auto;
    overflow: hidden;
}

.slider_line{
    display: flex;
    align-items: center;
    width: 100%;
    transition: all 2s ease;
}

.image_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_image{
    height: 1000px;
    width: 1300px;
    border-radius: 2%;
}

.slider_pagination{
    display: flex;
    position: relative;
    width: 1300px;
    margin: auto;
    justify-content: flex-end;
    column-gap: 20px;
}

.slider_dot{
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid white;
    background-color: rgb(6, 88, 211);
}

.dot_active{
    background-color: black;
    border-color: rgb(6, 88, 211);
}

.slider_text{
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 1300px;
    margin: auto;
}

.meme_text{
    /* display: none; */
    position: absolute;
    color: white;
    font-size: 30px;
    visibility: hidden;
}

@keyframes showLeft {
    from {left:-100%;}
    to {left:0;}
    }

.text_active{
    /* display: flex; */
    visibility: visible;
    animation: showLeft 3s;
}
